<template>
  <h2 class="mb-2">Login </h2>
  <form @submit.prevent="register" class=" w-11/12 sm:w-96 mx-auto text-center ">
    <div class="">
      <h1 class="text-center text-gray font-normal my-6 text-2xl ">Hello!</h1>
      <div class="mb-4">
        <label for="name">name</label>
        <input v-model="form.name" type="text" id="name" class="w-full pl-1 general-input" />
        <div class="form-errors" v-if="form.errors.name">{{ form.errors.name}}</div>

      </div>
      <div class="mb-4">
        <label for="email">email address:</label>
        <input v-model="form.email" type="email" id="email" class="w-full pl-1 general-input" />
        <div class="form-errors" v-if="form.errors.email">{{ form.errors.email}}</div>
      </div>
      <div class="mb-4">
        <label for="password">password:</label>
        <input v-model="form.password" type="password" id="password" class="w-full general-input" />
        <div class="form-errors" v-if="form.errors.passowrd">{{ form.errors.password}}</div>
      </div>
      <div>
        <label for="password_confirmation">password confirmation:</label>
        <input v-model="form.password_confirmation" type="password" id="password" class="w-full general-input" />
        <div class="form-errors" v-if="form.errors.passowrd">{{ form.errors.password}}</div>
      </div>
      <div>
        <button class="btn-orange mt-6 w-full " type="submit">Login</button>
      </div>
    </div>
  </form>

</template>

<script setup>

import { useForm } from '@inertiajs/vue3'

  const form = useForm({
     name: null,
     email : null,
     password : null,
     password_confirmation: null
  })

  const register = () => form.post(route('user-account.store'));

</script>