<template>

  <form @submit.prevent="upload" class="px-2">
    <h1>Upload images</h1>
    <input type="file" multiple class="border mr-2 rounded-md file:px-4 file:py-2 border-gray file:text-white file:border-0 file:bg-gray-light file:font-medium file:hover:bg-gray transition file:hover:duration-700 file:hover:cursor-pointer file:mr-4"
           @input="addFiles"
    />
    <button type="submit" :disabled="!canUpload" class="btn-orange disabled:opacity-25 disabled:cursor-not-allowed">Upload</button>
    <button type="reset" @click="reset" class="btn-orange ml-2">Reset</button>
  </form>

    <div v-if="product.images.length">
      <section class="mt-4 grid grid-cols-3 gap-4">
        <div v-for="image in product.images" :key="image.id"
          class="flex= flex-col justify-between"
        >
          <img :src="image.src" class="rounded-md" />
          <Link
          :href="route('products.image.destroy', { product: props.product.id, image: image.id })"
          method="delete"
          as="button"
          class="mt-2 btn-outline text-xs"
        >
          Delete
        </Link>
        </div>
      </section>
    </div>



</template>

<script setup>
import { computed } from 'vue'
import { useForm, Link } from  '@inertiajs/vue3'



const props = defineProps({ product: Object })
const form = useForm({
  images: [],
})
const canUpload = computed(() => form.images.length)
const upload = () => {
  form.post(
    route('products.image.store', { product: props.product.id }),
    {
      onSuccess: () => form.reset('images'),
    },
  )
}
const addFiles = (event) => {
  for (const image of event.target.files) {
    form.images.push(image)
  }
}
const reset = () => form.reset('images')

</script>