<template>
  <div class="lg:container mx-auto lg:px-2 mb-auto sm:min-h-screen">
    <NavigationBar></NavigationBar>

    <div class="form-errors" v-if="$page.props.flash.success">{{$page.props.flash.success}}</div>
    <slot></slot>
  </div>
  <FooterComponent class=""></FooterComponent>
</template>

<script setup>
  import NavigationBar from './NavigationBar.vue'
  import FooterComponent from './FooterComponent.vue'

</script>