<template>
  <Disclosure as="nav" v-slot="{ open }">
    <div >
      <div class="px-2 relative flex text-white bg-gradient-to-r from-pink-red via-purple-400 to-estate-blue h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <DisclosureButton class="relative inline-flex items-center justify-center rounded-md">
            <span class="absolute -inset-0.5" />
            <span class="sr-only">Open main menu</span>
            <Bars3Icon v-if="!open" class="block h-6 w-6 text-white" aria-hidden="true" />
            <XMarkIcon v-else class="block h-6 w-6 text-white" aria-hidden="true" />
          </DisclosureButton>
        </div>
        <div class="ml-8 flex sm:ml-0">
          <div>
            Ecommerce Site
          </div>
          <div class="hidden sm:flex sm:space-x-4 sm:ml-6">
            <div class="">
              <a href="/">Products</a>
            </div>
            <div v-if="user">
              <a href="/products/create"
                 class="btn-orange ">Create new ad  <PlusIcon  class=" h-5 w-5 inline  mb-px text-white" aria-hidden="true" /></a>
            </div>
          </div>
        </div>

        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <!-- Profile dropdown -->
          <Menu as="div" class="relative ml-3" v-if="user">
            <div>
              <MenuButton class="relative flex rounded-full  text-sm">
                <span class="absolute -inset-1.5" />
                <span class="sr-only">Open user menu</span>
                <a> <UserCircleIcon class="h-6 w-6 inline-block mr-1.5" />{{user.name}}</a>
              </MenuButton>
            </div>
            <transition enter-active-class="transition ease-out duration-100" enter-from-class=" bg-gray transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100" leave-active-class="transition ease-in duration-75" leave-from-class="transform opacity-100 scale-100" leave-to-class="transform opacity-0 scale-95">
              <MenuItems class="absolute right-0 z-50 mt-2 w-48 origin-top-right rounded-md bg-background text-indigo py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                <MenuItem as="div" v-slot="{ active }">
                  <Link href="/products" :class="[active ? 'bg-gray-100' : '', 'block px-4 py-2 text-sm text-gray-700']">Your ads</Link>
                </MenuItem>
                <MenuItem v-slot="{ active }">
                  <a href="/" :class="[active ? 'bg-gray-100' : '', 'block px-4 py-2 text-sm text-gray-700']">Home</a>
                </MenuItem>
                <MenuItem as="div" v-slot="{ active }">
                  <Link href="/logout" :class="[active ? 'bg-gray-100' : '', 'block px-4 py-2 text-sm text-gray-700']" method="delete">Sign out</Link>
                </MenuItem>
              </MenuItems>
            </transition>
          </Menu>
          <div v-else>
            <a href='/login' class="mr-1">Connect</a>
          </div>
        </div>
      </div>
    </div>

    <DisclosurePanel class="sm:hidden absolute left-0 z-50 mt-2 w-52 text-center origin-top-right rounded-md bg-background text-indigo py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">

      <div>
        <div class="space-y-1 px-2 pb-3 pt-2">
          <a :href="`/`">Products</a>
        </div>
        <div class="space-y-1 px-2 pb-3 pt-2">
          <a v-if="user" href="/products/create">+ Create new ad</a>
        </div>
      </div>
    </DisclosurePanel>
  </Disclosure>
</template>

<script setup>



import { Link } from '@inertiajs/vue3'
import { Disclosure, DisclosureButton, DisclosurePanel, Menu, MenuButton, MenuItem, MenuItems } from '@headlessui/vue'
import { Bars3Icon, BellIcon, XMarkIcon, PlusIcon, UserCircleIcon, } from '@heroicons/vue/24/outline'


import { computed } from 'vue'
import { usePage } from '@inertiajs/vue3'

const page = usePage()
const user = computed(() => page.props.auth.user)



</script>