<template>
  <div class="text-sm h-auto bg-white w-60 mt-0.5">
    <div class="flex mb-4 mt-3 items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="5 0 24 24" stroke-width="0.5" stroke="indigo" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
      </svg>
      <p>This Is Fake Menu</p>
    </div>
    <div class="flex mb-4 items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="5 0 24 24" stroke-width="0.5" stroke="indigo" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
      </svg>
      <p>This Is Fake Menu</p>
    </div>
    <div class="flex mb-4 items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="5 0 24 24" stroke-width="0.5" stroke="indigo" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
      </svg>
      <p>This Is Fake Menu</p>
    </div>
    <div class="flex mb-4 items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="5 0 24 24" stroke-width="0.5" stroke="indigo" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
      </svg>
      <p>This Is Fake Menu</p>
    </div>
    <div class="flex mb-4 items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="5 0 24 24" stroke-width="0.5" stroke="indigo" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
      </svg>
      <p>This Is Fake Menu</p>
    </div>
    <div class="flex mb-4 items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="5 0 24 24" stroke-width="0.5" stroke="indigo" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
      </svg>
      <p>This Is Fake Menu</p>
    </div>
    <div class="flex mb-4 items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="5 0 24 24" stroke-width="0.5" stroke="indigo" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
      </svg>
      <p>This Is Fake Menu</p>
    </div>
    <div class="flex mb-4 items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="5 0 24 24" stroke-width="0.5" stroke="indigo" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
      </svg>
      <p>This Is Fake Menu</p>
    </div>
    <div class="flex mb-4 items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="5 0 24 24" stroke-width="0.5" stroke="indigo" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
      </svg>
      <p>This Is Fake Menu</p>
    </div>
    <div class="flex mb-4 items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="5 0 24 24" stroke-width="0.5" stroke="indigo" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
      </svg>
      <p>This Is Fake Menu</p>
    </div>
    <div class="flex mb-4 items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="5 0 24 24" stroke-width="0.5" stroke="indigo" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
      </svg>
      <p>This Is Fake Menu</p>
    </div>
    <div class="flex mb-4 items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="5 0 24 24" stroke-width="0.5" stroke="indigo" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
      </svg>
      <p>This Is Fake Menu</p>
    </div>


  </div>

</template>

<script setup>

</script>

