<template>
  <form @submit.prevent="filter" class="bg-background p-0 pl-2 shadow-none rounded-none my-8">

    <div class="grid place-content-center gap-y-2 lg:grid-cols-4 lg:gap-4" >

      <div class="flex items-center gap-x-2 sm:gap-0">
        <input v-model.number="filterForm.priceFrom" type="text" class="input-filter-l w-28 general-input " placeholder="Price from" />
        <input v-model.number="filterForm.priceTo" type="text" class="input-filter-r w-28 general-input" placeholder="Price to" />
      </div>
      
      <div class="flex  items-center gap-x-2 sm:gap-0">
        <select v-model="filterForm.beds" class="input-filter-l py-1 w-28 ">
          <option :value="null">Beds</option>
          <option v-for="n in 5" :key="n" :value="n">{{n}}</option>
          <option>6+</option>
        </select>

        <select v-model="filterForm.baths" class="input-filter-r py-1 w-28  ">
          <option :value="null">Baths</option>
          <option v-for="n in 5" :key="n" :value="n">{{n}}</option>
          <option>6+</option>
        </select>

      </div>

      <div class="flex flex-nowrap items-center gap-2 sm:gap-0">
        <input v-model.number="filterForm.areaFrom" type="text" class="input-filter-l w-28 general-input "  placeholder="Area from" />
        <input v-model.number="filterForm.areaTo" type="text" class="input-filter-r w-28 general-input " placeholder="Area to"  />
      </div>

      <div class="text-right">
        <button class="btn-orange mr-2 px-2 py-1 text-sm  " type="submit">Filter</button>
        <button class="btn-alert px-2 py-1 text-sm"  type="reset" @click=clear>Clear</button>
      </div>

    </div>
  </form>
</template>

<script setup>

import { useForm } from '@inertiajs/vue3'

const props = defineProps(
  {
    filters: Object
  }
)

const filterForm = useForm ({
  priceFrom: props.filters.priceFrom ?? null,
  priceTo: props.filters.priceTo ?? null,
  beds: props.filters.beds ?? null,
  baths: props.filters.baths ?? null,
  areaFrom: props.filters.areaFrom ?? null,
  areaTo: props.filters.areaTo ?? null,
})

function filter () {
 filterForm.get(
  route('ads'),
  {
    preserveState: true,
    preserveScroll: true
  }
 )
}

function clear () {
  filterForm.priceFrom = null,
  filterForm.priceTo =  null,
  filterForm.beds = null,
  filterForm.baths = null,
  filterForm.areaFrom = null,
  filterForm.areaTo = null,
  filter()
}


</script>