<template>
  <div class="flex">
    <FakeMenu/>
    <CarouselComponent/>
  </div>
  <FiltersComponent :filters="filters"></FiltersComponent>
  <div class="grid grid-cols-1 gap-x-4 gap-y-6 md:grid-cols-3 mt-3">
    <div v-for="ad in ads" :key=ad.id>
      <Link :href="`/ads-details/${ad.id}`">
        <BoxComponent class="pt-3 text-center">
          <div>
            <div>
              <span>Beds: </span>
              <span>{{ad.beds}}</span>
            </div>
            <div>
              <span>Baths: </span>
              <span>{{ad.baths}}</span>
            </div>
            <div>
              <span>Area: </span>
              <span>{{ad.area}} mp</span>
            </div>
            <div>
              <span>price: </span>
              <span>{{ad.price}}</span>
            </div>
          </div>
        </BoxComponent>
      </Link>
    </div>
  </div>

</template>

<script setup>
  import BoxComponent from '../UI/BoxComponent.vue';
  import FiltersComponent  from './FiltersComponent.vue'
  import CarouselComponent from '../UI/CarouselComponent.vue'
  import { Link } from '@inertiajs/vue3'
  import FakeMenu from './FakeMenu.vue'

defineProps({
    ads: String,
    filters: Object
  })

</script>