<template>
  <h1 class="text-3xl mb-4">Your Listings</h1>
  <section class="mb-4">
    Filters
  </section>
  <section class="grid grid-cols-1 lg:grid-cols-2 gap-2">
    <BoxComponent v-for="product in products" :key="product.id">
      <div class="flex flex-col md:flex-row gap-2 md:items-center justify-between">
        <div>
          <div class="xl:flex items-center gap-2">
            <p class="text-2xl font-medium">{{product.price}} &euro; </p>
            <p class="">{{product.beds}} bds| {{product.baths}} | bd | {{product.area}} mp </p>
          </div>
        </div>
        <div class="flex items-center gap-1 text-gray">
          <Link class="btn-outline text-sm font-medium">Preview</Link>
          <Link class="btn-outline text-sm font-medium">Edit</Link>
          <Link
            class="btn-outline text-sm font-medium"
            :href="route('realtor.product.destroy', {product: product.id})"
            as="button" method="delete">Delete</Link>
        </div>
      </div>
    </BoxComponent>
  </section>
</template>

<script setup>
  import {Link} from '@inertiajs/vue3'
  import BoxComponent from '../UI/BoxComponent.vue'

  defineProps({products: Array})


</script>