@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .general-input {
    @apply  border-pink-red focus:ring-pink-red rounded-3xl sm:w-full block pl-8 py-1 text-sm !important
  }
  select {
     @apply  border-pink-red focus:ring-pink-red rounded-3xl sm:w-full block pl-8 py-1 text-sm !important
  }
  .input-filter-l {
    @apply placeholder:text-gray border border-gray sm:rounded-t-md sm:rounded-l-md sm:rounded-b-md sm:rounded-r-none text-sm font-medium text-gray !important
  }

  .input-filter-r {
    @apply placeholder:text-gray border border-l-0 border-gray sm:rounded-t-md sm:rounded-l-none sm:rounded-b-none sm:rounded-r-md text-sm font-medium text-gray !important
  }

  .btn-orange {
    @apply py-1.5 px-4 bg-orange2 rounded-3xl text-white my-5 sm:text-base text-sm
            font-medium p-1.5
  }

  .btn-alert {
    @apply py-1.5 px-4 bg-pink-red rounded-3xl text-white my-5 sm:text-base text-sm
            font-medium p-1.5
  }

  .btn-outline {
    @apply py-1 px-1.5 rounded-md border shadow-sm border-gray
  }

  h2 {
    @apply text-sm font-semibold sm:text-lg sm:font-normal px-2 mt-6 mb-2 font-body
  }

  .form-errors {
    @apply my-2 text-pink-red  font-medium
  }

  body {
    @apply font-body
  }

  label {
    @apply font-semibold text-sm text-indigo
  }

  form {
    @apply bg-white rounded-xl p-2 sm:p-4 shadow-[1px_2px_5px_#ccc]
  }

}
