<template>
  <h2>Create new ad</h2>
  <form @submit.prevent="submit">
    <div class="grid place-content-center sm:grid-cols-3 sm:gap-4" >
      <div>
        <label class="">Beds:</label>
        <input type="text"  v-model="form.beds" class="general-input" />
        <div class="form-errors" v-if="form.errors.beds">
            {{ form.errors.beds }}
        </div>
      </div>

      <div>
        <label>Baths:</label>
        <input type="text" v-model="form.baths" class="general-input" />
        <div class="form-errors" v-if="form.errors.baths">
            {{ form.errors.baths }}
        </div>
      </div>

      <div>
        <label>Area:</label>
        <input type="text" v-model="form.area" class="general-input" />
        <div class="form-errors" v-if="form.errors.area">
            {{ form.errors.area }}
        </div>
      </div>

      <div class="sm:col-span-2">
        <label>City:</label>
        <input type="text" v-model="form.city" class="general-input" />
        <div class="form-errors" v-if="form.errors.city">
            {{ form.errors.city }}
        </div>
      </div>

      <div>
        <label>Post Code:</label>
        <input type="text" v-model="form.code" class="general-input" />
        <div class="form-errors" v-if="form.errors.city">
            {{ form.errors.city }}
        </div>
      </div>

      <div class="sm:col-span-2">
        <label>Street:</label>
        <input type="text"  v-model="form.street"  class="general-input"/>
        <div class="form-errors" v-if="form.errors.city">
            {{ form.errors.street }}
        </div>
      </div>

      <div>
        <label>Street Number:</label>
        <input type="text" v-model="form.street_nr" class="general-input" />
        <div class="form-errors" v-if="form.errors.street_nr">
            {{ form.errors.street_nr }}
        </div>
      </div>

      <div>
        <label>Price:</label>
        <input type="text" v-model="form.price" class="general-input" />
        <div class="form-errors" v-if="form.errors.price">
          {{ form.errors.price }}
        </div>
        <button  type='submit' class="block mx-auto sm:inline-block btn-orange w-full sm:w-auto">Add</button>
      </div>
    </div>
  </form>
</template>

<script setup>
import { useForm } from '@inertiajs/vue3'

const form = useForm({
  beds: null,
  baths: null,
  area: null,
  city: null,
  code: null,
  street: null,
  street_nr: null,
  price: null
})

function submit() {

  form.post('/products', form)
}

</script>