<template>
  <h2>Your ad here</h2>
  <div class="grid grid-cols-1 gap-x-4 gap-y-6 md:grid-cols-3 mt-3">

    <div v-for="product in products.data" :key=product.id>
      <Link :href="route('products.image.create', { product: product.id })">Images</Link>
      <Link :href="route('products.show', product.id)" class="btn-orange text-sm py-1">Edit ad</Link>
      <BoxComponent class="pt-3 text-center">
        <div>
          <div>
            <span>Beds: </span>
            <span>{{product.beds}}</span>
          </div>
          <div>
            <span>Baths: </span>
            <span>{{product.baths}}</span>
          </div>
          <div>
            <span>Area: </span>
            <span>{{product.area}} mp</span>
          </div>
          <div>
            <span>City:  </span>
            <span>{{product.city}}</span>
          </div>
        </div>
        <div class="flex space-x-1 justify-center">
          <Link :href="route('products.edit', product.id)" class="btn-orange text-sm py-1">Edit ad</Link>
          <Link :href="route('products.destroy', product.id)" class="btn-alert text-sm py-1" method="DELETE">Delete Ad</Link>
        </div>
      </BoxComponent>
    </div>
  </div>
  <div v-if="products.data.length" class="w-full flex justify-center mt-8 mb-8">
    <PaginationComponent :links="products.links" />
  </div>

</template>

<script setup>

  import { computed } from 'vue'
  import { usePage, Link } from '@inertiajs/vue3'
  import BoxComponent from '../UI/BoxComponent.vue';
  import PaginationComponent from '../UI/PaginationComponent.vue';



  defineProps({
    products: Object
  })



</script>