<template>
<div v-if="product.images.length" class="grid grid-cols-2 gap-1">
  <img
    v-for="image in product.images" :key="image.id"
    :src="image.src"
  />
</div>
{{product.city  }}
</template>

<script setup>

defineProps({product: Object})

</script>