<template>
  <h2 class="mb-2">Login </h2>
  <form @submit.prevent="login" class="w-11/12 sm:w-96 mx-auto text-center pb-10">
    <div>
      <h1 class="text-center text-gray font-normal my-6 text-2xl ">Hello!</h1>
      <div class="mb-4">
        <label for="email">email address:</label>
        <input id="email" v-model="form.email" type="email"  class="w-full pl-1 general-input" />
        <div class="form-errors" v-if="form.errors.email">{{ form.errors.email}}</div>
      </div>
      <div>
        <label for="password">password:</label>
        <input id="password" v-model="form.password" type="password" class="w-full general-input" />
        <div class="form-errors" v-if="form.errors.passowrd">{{ form.errors.password}}</div>
      </div>
      <div>
        <button class="btn-orange w-full " type="submit">Login</button>
      </div>
      <div class="relative flex py-5 items-center mb-3">
        <div class="flex-grow border-t border-gray"></div>
          <span class="flex-shrink mx-4 text-gray">create a new account</span>
        <div class="flex-grow border-t border-gray"></div>
      </div>
      <a class="btn-alert" href="/user-account/create">Register now</a>
    </div>
  </form>


</template>

<script setup>

import { useForm } from '@inertiajs/vue3'

  const form = useForm({
     email : null,
     password : null
  })

  function login() {
    form.post(route('login.store'));
  }

</script>